<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .completed{
        text-decoration: line-through;
        color: grey;
    }
</style>
<body>
    <div id="app">
    <select v-model="option" @change="change">
        <option value="0">전체</option>
        <option value="1">진행중</option>
        <option value="2">완료</option>
    </select>
    <input type=" text" v-model="content">
    <button @click="add">+</button>


    <ul>
        <li v-for="todo in todos":key="todo.idx">
            <input type="checkbox" v-model="todo.completed">
            <span :class="{completed:todo.completed}">{{todo.title}}</span>
        </li>
    </ul>
    <button @click="deleteCompleted">완료 목록 삭제</button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

        const app = new Vue({
            el: '#app',
            data:{
                idx:0,
                content:"", 
                todos:[]
            },
            
            methods:{
                add() {
                    this.todos.push({
                        idx: this.idx,
                        title: this.content,
                        completed: false,
                    })
                    this.idx++; 
                },
                deleteCompleted(){
                    const filtered = this.todos.filter((todo)=>{
                        return !todo.completed;
                    })
                    this.todos = filtered;

                }
            }
        })

    </script>

</body>
</html>
