{% extends 'base2.html'%}
{% block content%}
    <h1>만나서 반가워요</h1>
    <button type='button' class='btn btn-primary'>페이지</button>
    <a href='{% url 'greeting'%}'>greeting</a>
    <a href='{% url 'dinner' %}'>dinner</a>
    <a href='{% url 'hello' name='yen' %}'> hello</a>
{% endblock content%}


{% comment %} 
아래는 html만 작성했을 때!
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 만나서 반갑습니다! </h1>
</body>
</html> {% endcomment %}